Repository thoth-tech/CourseFlow, pull requests merged in 2023-09, with the labels that each got.

#37 Create Discovery Page Function.md
  Discovery Page Function.md
Labels: documentation

#30 Implemented Pop Up Designs, Add Functional Close Button, Update JSON file that consists all relavent data
  Frontend/course-flow-app/src/app/interfaces/unit.model.ts
  Frontend/course-flow-app/src/app/unit-detail-dialog/unit-detail-dialog.component.css
  Frontend/course-flow-app/src/app/unit-detail-dialog/unit-detail-dialog.component.html
  Frontend/course-flow-app/src/app/unit-detail-dialog/unit-detail-dialog.component.ts
  Frontend/course-flow-app/src/app/unitcard-container/unitcard-container.component.css
  Frontend/course-flow-app/src/assets/json/compsci-units.json
  demo_link.txt
  unit-popup-image.PNG
Labels: enhancement, frontend

#35 Create Docker Research.md
  Docker Research.md
Labels: documentation

#36 Side Bar integration and added features
  Frontend/course-flow-app/package-lock.json
  Frontend/course-flow-app/package.json
  Frontend/course-flow-app/src/app/app-routing.module.ts
  Frontend/course-flow-app/src/app/app.component.html
  Frontend/course-flow-app/src/app/app.module.ts
  Frontend/course-flow-app/src/app/main-side-nav/main-side-nav.component.css
  Frontend/course-flow-app/src/app/main-side-nav/main-side-nav.component.html
  Frontend/course-flow-app/src/app/main-side-nav/main-side-nav.component.spec.ts
  Frontend/course-flow-app/src/app/main-side-nav/main-side-nav.component.ts
  Frontend/course-flow-app/src/app/main-side-nav/pages/courseupdates/courseupdates.component.html
  Frontend/course-flow-app/src/app/main-side-nav/pages/courseupdates/courseupdates.component.scss
  Frontend/course-flow-app/src/app/main-side-nav/pages/courseupdates/courseupdates.component.spec.ts
  Frontend/course-flow-app/src/app/main-side-nav/pages/courseupdates/courseupdates.component.ts
  Frontend/course-flow-app/src/app/main-side-nav/pages/edit/edit.component.html
  Frontend/course-flow-app/src/app/main-side-nav/pages/edit/edit.component.scss
  Frontend/course-flow-app/src/app/main-side-nav/pages/edit/edit.component.spec.ts
  Frontend/course-flow-app/src/app/main-side-nav/pages/edit/edit.component.ts
  Frontend/course-flow-app/src/app/main-side-nav/pages/majorminor/majorminor.component.html
  Frontend/course-flow-app/src/app/main-side-nav/pages/majorminor/majorminor.component.scss
  Frontend/course-flow-app/src/app/main-side-nav/pages/majorminor/majorminor.component.spec.ts
  Frontend/course-flow-app/src/app/main-side-nav/pages/majorminor/majorminor.component.ts
  Frontend/course-flow-app/src/app/main-side-nav/pages/not-found/not-found.component.html
  Frontend/course-flow-app/src/app/main-side-nav/pages/not-found/not-found.component.scss
  Frontend/course-flow-app/src/app/main-side-nav/pages/not-found/not-found.component.spec.ts
  Frontend/course-flow-app/src/app/main-side-nav/pages/not-found/not-found.component.ts
  Frontend/course-flow-app/src/app/main-side-nav/pages/notifications/notifications.component.html
  Frontend/course-flow-app/src/app/main-side-nav/pages/notifications/notifications.component.scss
  Frontend/course-flow-app/src/app/main-side-nav/pages/notifications/notifications.component.spec.ts
  Frontend/course-flow-app/src/app/main-side-nav/pages/notifications/notifications.component.ts
  Frontend/course-flow-app/src/app/main-side-nav/pages/overview/overview.component.html
  Frontend/course-flow-app/src/app/main-side-nav/pages/overview/overview.component.scss
  Frontend/course-flow-app/src/app/main-side-nav/pages/overview/overview.component.spec.ts
  Frontend/course-flow-app/src/app/main-side-nav/pages/overview/overview.component.ts
Labels: enhancement, frontend

#32 Discovery page ngx graph
  Documentation/ngx-graph-notes.md
  Frontend/course-flow-app/.editorconfig
  Frontend/course-flow-app/.gitignore
  Frontend/course-flow-app/.vscode/extensions.json
  Frontend/course-flow-app/.vscode/launch.json
  Frontend/course-flow-app/.vscode/tasks.json
  Frontend/course-flow-app/README.md
  Frontend/course-flow-app/angular.json
  Frontend/course-flow-app/package-lock.json
  Frontend/course-flow-app/package.json
  Frontend/course-flow-app/src/app/app-routing.module.ts
  Frontend/course-flow-app/src/app/app.component.css
  Frontend/course-flow-app/src/app/app.component.html
  Frontend/course-flow-app/src/app/app.component.spec.ts
  Frontend/course-flow-app/src/app/app.component.ts
  Frontend/course-flow-app/src/app/app.module.ts
  Frontend/course-flow-app/src/app/discovery/discovery-detail-dialog/discovery-detail-dialog.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-detail-dialog/discovery-detail-dialog.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-detail-dialog/discovery-detail-dialog.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-detail-dialog/discovery-detail-dialog.component.ts
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/PositionBasedLayout.ts
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/discovery-graph-based-map.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/discovery-graph-based-map.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/discovery-graph-based-map.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/discovery-graph-based-map.component.ts
  Frontend/course-flow-app/src/app/discovery/discovery-page/discovery-page.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-page/discovery-page.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-page/discovery-page.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-page/discovery-page.component.ts
  Frontend/course-flow-app/src/app/discovery/discovery-services/discovery-graph-utilities.service.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-services/discovery-graph-utilities.service.ts
  Frontend/course-flow-app/src/app/discovery/discovery-services/json-file-discovery-data.service.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-services/json-file-discovery-data.service.ts
  Frontend/course-flow-app/src/app/discovery/discovery-text-based-lists/discovery-text-based-lists.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-text-based-lists/discovery-text-based-lists.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-text-based-lists/discovery-text-based-lists.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-text-based-lists/discovery-text-based-lists.component.ts
  Frontend/course-flow-app/src/app/enum/discoveryEnums.ts
  Frontend/course-flow-app/src/app/interfaces/discoveryInterfaces.ts
  Frontend/course-flow-app/src/assets/.gitkeep
  Frontend/course-flow-app/src/data/mainGraphProperties.json
  Frontend/course-flow-app/src/data/precalculatedPositionExample.json
  Frontend/course-flow-app/src/favicon.ico
  Frontend/course-flow-app/src/index.html
  Frontend/course-flow-app/src/main.ts
  Frontend/course-flow-app/src/styles.css
  Frontend/course-flow-app/tsconfig.app.json
  Frontend/course-flow-app/tsconfig.json
  Frontend/course-flow-app/tsconfig.spec.json
Labels: documentation

#17 Discovery Page Development
  Frontend/course-flow-app/.editorconfig
  Frontend/course-flow-app/.gitignore
  Frontend/course-flow-app/.vscode/extensions.json
  Frontend/course-flow-app/.vscode/launch.json
  Frontend/course-flow-app/.vscode/tasks.json
  Frontend/course-flow-app/README.md
  Frontend/course-flow-app/angular.json
  Frontend/course-flow-app/package-lock.json
  Frontend/course-flow-app/package.json
  Frontend/course-flow-app/src/app/app-routing.module.ts
  Frontend/course-flow-app/src/app/app.component.css
  Frontend/course-flow-app/src/app/app.component.html
  Frontend/course-flow-app/src/app/app.component.spec.ts
  Frontend/course-flow-app/src/app/app.component.ts
  Frontend/course-flow-app/src/app/app.module.ts
  Frontend/course-flow-app/src/app/discovery/discovery-detail-dialog/discovery-detail-dialog.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-detail-dialog/discovery-detail-dialog.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-detail-dialog/discovery-detail-dialog.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-detail-dialog/discovery-detail-dialog.component.ts
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/discovery-graph-based-map.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/discovery-graph-based-map.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/discovery-graph-based-map.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/discovery-graph-based-map.component.ts
  Frontend/course-flow-app/src/app/discovery/discovery-page/discovery-page.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-page/discovery-page.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-page/discovery-page.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-page/discovery-page.component.ts
  Frontend/course-flow-app/src/app/discovery/discovery-services/discovery-graph-utilities.service.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-services/discovery-graph-utilities.service.ts
  Frontend/course-flow-app/src/app/discovery/discovery-services/json-file-discovery-data.service.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-services/json-file-discovery-data.service.ts
  Frontend/course-flow-app/src/app/discovery/discovery-text-based-lists/discovery-text-based-lists.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-text-based-lists/discovery-text-based-lists.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-text-based-lists/discovery-text-based-lists.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-text-based-lists/discovery-text-based-lists.component.ts
  Frontend/course-flow-app/src/app/enum/discoveryEnums.ts
  Frontend/course-flow-app/src/app/interfaces/discoveryInterfaces.ts
  Frontend/course-flow-app/src/assets/.gitkeep
  Frontend/course-flow-app/src/data/courseData.json
  Frontend/course-flow-app/src/data/facultyBasedUnitData.json
  Frontend/course-flow-app/src/data/mainGraphProperties.json
  Frontend/course-flow-app/src/data/unit_data_sample.json
  Frontend/course-flow-app/src/data/units.json
  Frontend/course-flow-app/src/favicon.ico
  Frontend/course-flow-app/src/index.html
  Frontend/course-flow-app/src/main.ts
  Frontend/course-flow-app/src/styles.css
  Frontend/course-flow-app/tsconfig.app.json
  Frontend/course-flow-app/tsconfig.json
  Frontend/course-flow-app/tsconfig.spec.json
Labels: enhancement, frontend

#25 Docker integration
  .devcontainer/devcontainer.json
  Frontend/course-flow-app/.dockerignore
  Frontend/course-flow-app/Dockerfile
  Frontend/course-flow-app/angular.json
  docker-compose.yml
Labels: enhancement

#38 Documentation Images Markdown
  Documentation/Documentation Images/image-0.png
  Documentation/Documentation Images/image-1.png
  Documentation/Documentation Images/image-2.png
  Documentation/Documentation Images/image-3.png
  Documentation/Documentation Images/image-4.png
  Documentation/Documentation Images/image-5.png
  Documentation/Documentation Images/image-6.png
  Documentation/Documentation Images/image-7.png
  Documentation/Documentation Images/image-8.png
  Documentation/Documentation Images/image-9.png
Labels: documentation

#33 Discovery page pre calculated nodes implementation
  .devcontainer/devcontainer.json
  Frontend/course-flow-app/.editorconfig
  Frontend/course-flow-app/.gitignore
  Frontend/course-flow-app/.vscode/extensions.json
  Frontend/course-flow-app/.vscode/launch.json
  Frontend/course-flow-app/.vscode/tasks.json
  Frontend/course-flow-app/Dockerfile
  Frontend/course-flow-app/README.md
  Frontend/course-flow-app/angular.json
  Frontend/course-flow-app/package-lock.json
  Frontend/course-flow-app/package.json
  Frontend/course-flow-app/src/app/app-routing.module.ts
  Frontend/course-flow-app/src/app/app.component.css
  Frontend/course-flow-app/src/app/app.component.html
  Frontend/course-flow-app/src/app/app.component.spec.ts
  Frontend/course-flow-app/src/app/app.component.ts
  Frontend/course-flow-app/src/app/app.module.ts
  Frontend/course-flow-app/src/app/discovery/discovery-card-selectable/discovery-card-selectable.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-card-selectable/discovery-card-selectable.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-card-selectable/discovery-card-selectable.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-card-selectable/discovery-card-selectable.component.ts
  Frontend/course-flow-app/src/app/discovery/discovery-connection-selectables/discovery-connection-selectables.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-connection-selectables/discovery-connection-selectables.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-connection-selectables/discovery-connection-selectables.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-connection-selectables/discovery-connection-selectables.component.ts
  Frontend/course-flow-app/src/app/discovery/discovery-detailed-content/discovery-detailed-content.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-detailed-content/discovery-detailed-content.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-detailed-content/discovery-detailed-content.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-detailed-content/discovery-detailed-content.component.ts
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/discovery-graph-based-map.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/discovery-graph-based-map.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/discovery-graph-based-map.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-graph-based-map/discovery-graph-based-map.component.ts
  Frontend/course-flow-app/src/app/discovery/discovery-page/discovery-page.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-page/discovery-page.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-page/discovery-page.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-page/discovery-page.component.ts
  Frontend/course-flow-app/src/app/discovery/discovery-services/json-file-discovery-data.service.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-services/json-file-discovery-data.service.ts
  Frontend/course-flow-app/src/app/discovery/discovery-text-based-lists/discovery-text-based-lists.component.css
  Frontend/course-flow-app/src/app/discovery/discovery-text-based-lists/discovery-text-based-lists.component.html
  Frontend/course-flow-app/src/app/discovery/discovery-text-based-lists/discovery-text-based-lists.component.spec.ts
  Frontend/course-flow-app/src/app/discovery/discovery-text-based-lists/discovery-text-based-lists.component.ts
  Frontend/course-flow-app/src/app/enum/discoveryEnums.ts
  Frontend/course-flow-app/src/app/interfaces/discoveryInterfaces.ts
  Frontend/course-flow-app/src/assets/.gitkeep
  Frontend/course-flow-app/src/data/facultyData.json
  Frontend/course-flow-app/src/data/mainGraphProperties.json
  Frontend/course-flow-app/src/data/specializationData.json
  Frontend/course-flow-app/src/favicon.ico
  Frontend/course-flow-app/src/index.html
  Frontend/course-flow-app/src/main.ts
  Frontend/course-flow-app/src/styles.css
  Frontend/course-flow-app/tsconfig.app.json
  Frontend/course-flow-app/tsconfig.json
  Frontend/course-flow-app/tsconfig.spec.json
  docker-compose.yml
Labels: enhancement, frontend

#34 Create Analytics Page Design.md
  Analytics Page Design.md
Labels: documentation
